.dashboard {
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 4fr;

  &-content {
    background-color: #f2f2f5;
    min-height: 100vh;
    padding: 2rem 1rem;
  }
  @media (max-width: 768px) {
    & {
      grid-template-columns: 1fr 7fr;
    }
  }
}

.sidebar {
  padding-top: 2rem;
  padding-left: 1rem;
  color: #757575;

  &-links {
    list-style-type: none;
    padding: 0;

    li {
      padding: 0.3rem 0;
    }
  }

  &-route {
    &:hover {
      color: #0052cc;
    }
  }

  @media (max-width: 768px) {
    & {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
  }
}

.active-link {
  color: #0052cc;
  border-right: 8px solid #0052cc;
}

.region {
  color: #757575;

  &-items {
    background-color: #fff;
    min-height: 70vh;
    border-radius: 5px;
    position: relative;

    &-empty {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &-list {
    padding: 1rem 0;

    &-filter {
      float: right;

      input[type="search"] {
        border-radius: 20px;
        border: 1px solid #757575;
        outline: none;
        padding: 0 1rem;
        width: 10rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
      select {
        margin-right: 1rem;
        width: 10rem;
        border-radius: 20px;
        border: 1px solid #757575;
        outline: none;
      }
    }
    table {
      td,
      th {
        padding-left: 1rem;
      }
    }
  }

  &-modal-close-button {
    position: relative;
    top: -0.6rem;
  }

  &-create-form {
    input[type="text"] {
      width: 100%;
      border: 1px solid #757575;
      border-radius: 5px;
      padding: 0.3rem 1rem;
      outline: none;

      &::placeholder {
        color: black;
        font-size: 0.9rem;
      }
    }

    input[type="submit"] {
      float: right;
    }

    select {
      width: 100%;
      padding: 0.3rem 1rem;
      border: 1px solid #757575;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  }
}

.primary-text {
  color: #0052cc;
}

.create-button {
  background-color: #0b2e4e;
  color: #fff;
  border-radius: 5px;
  padding: 0.1rem 1rem;
  border: none;
}
